@import "@fontsource/inter/variable.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.clickable {
@apply transition-transform 
	hover:scale-105
	active:rotate-2 active:scale-95 odd:active:-rotate-2
}

a {
	@apply underline;
}
	
html {
	@apply bg-gradient-to-b from-cyan-300 to-blue-400
	dark:from-cyan-600 dark:to-blue-700;
}